  
<div class="container">

    <form class="col-md-6" (ngSubmit)="editBook()">
        <div class="form-group">
            <h2 >Edit {{book.title}}</h2>
        </div>
        <div class="form-group">
            <label for="my-input">Name</label>
            <input placeholder="Name" class="form-control" type="text"  [(ngModel)]="book.name">
        </div>
        <div class="form-group">
            <label for="my-input">Age</label>
            <input placeholder="Age" class="form-control" type="numer"  [(ngModel)]="book.age">
        </div>
        <div class="form-group">
            <label for="my-input">Address</label>
            <input placeholder="Address" class="form-control" type="text" 
                [(ngModel)]="book.address">
        </div>
        <div class="form-group">
            <label for="my-input">Phone</label>
            <input placeholder="Phone" class="form-control" type="number" 
                [(ngModel)]="book.phone">
        </div>
        <button class="btn btn-primary" type="submit">Edit Data</button>
    </form>
</div>